div {
  padding: 5px;
}

svg {
  border: 1px solid black;
  width: 100%;
}

/* Don't edit below this line */

#sans-serif {
  font-family: sans-serif;
}
#serif {
  font-family: serif;
}
#cursive {
  font-family: cursive;
}
#fantasy {
  font-family: fantasy;
}
#monospace {
  font-family: monospace;
}
