div {
  padding: 5px;
}

svg {
  border: 1px solid black;
}

/* Don't edit below this line */

#oswald {
  font-family: 'Oswald', sans-serif;
}

#lobster {
  font-family: 'Lobster', cursive;
}

#gloria {
  font-family: 'Gloria Hallelujah', cursive;
}

#cutive {
  font-family: 'Cutive Mono', monospace;
}



