/* Navbar settings */
#navi-hintergrund {
  background-color:#c7cecf;
  opacity: 0.9;
}

/* Hover of navbar */
.navbar .navbar-nav > li > a:hover {
   background-color: #c7cecf;
   color: black;
}

/* Settings of navbar */
.navbar-nav {
  background-color: white;
  border-radius: 8px;
  font-size: large;
  font-weight: bold;
  font-family: 'Signika', sans-serif;
}

/* Navbar links (text) settings */
.nav-link {
  color: black !important;
  padding-left: 10px !important;
}

/* Setting for Syno Word Cloud on navbar */
#logo-title-swc {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  padding-bottom: 0.2rem;
}

/* Buttons settings */
.btn {
  background: #7b7483;
  border: none;
}

.btn.btn-primary.active {
  background: #1b1b1b !important;
}

#submitButton {
  margin-top: 5px;
}

#download-svg, #download-png {
    margin-top: 5px;
    display: none;
}

/* Hover setting of button */
.btn:hover {
  background: #89aadd;
}

/* General settings */
.abstand {
  padding: 5%;
}

/* html and body tag settings */
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

/* Setting of Paragraph symbol in imprint */
#paragraph {
  font-size: 200px;
}

/* header settings */
h1 {
  font-family: 'Lobster', cursive;
}

h2, h3 {
  font-family: 'Lobster', cursive;
  border: solid;
  opacity: 0.9;
  color: #505353;
}

h3 {
  padding: 25px;
}

#right {
  float: right;
}

/* Settings of sections on website (welcome page, form, jumbotron, create etc.)*/
.createFormular {
  font-size: 17px;
  font-weight: bold;
}

.home-section {
  height: auto !important;
  min-height: 100%;
  overflow:hidden;
  background: url(../images/word.png) no-repeat center ;
  background-size: contain;
}

.jumbotron {
  background: transparent;
}

.jombo-text-back {
  background: white;
}

#cloud {
  overflow: hidden
}

.create-section {
  background-color: #ede9e8;
}
.about-section {
  background-color: #c4bbb9;
}
.contact-section {
  background-color: #cdd3d4;
  background: url(../images/kontaktverlauf.jpg) no-repeat center;
  background-size: cover;
}
.imprint-section {
  background-color: #3d3d3d;
  color: white;
}

.fontSelector {
  flex-wrap: wrap;
}

.fontSelector label {
  margin-top: 5px;
}

/* Load font-families of Fonts to choose from (system fonts) */
#sans-serif {
  font-family: sans-serif;
}
#serif {
  font-family: serif;
}
#cursive {
  font-family: cursive;
}
#fantasy {
  font-family: fantasy;
}
#monospace {
  font-family: monospace;
}
